img {
  width: 10%;
}

.pig1 { background-color: white; }
.pig1.red { border-style: dotted; border-color: black; border-width: 2px}

.pig2 { background-color: white; }
.pig2.red { 
  border-style: dotted; border-color: black; border-width: 2px;}

body {
  text-align: center;
}

h2 {
  color: red;
}